<!DOCTYPE html>
<html>
    <head>
        <title>Enter in admin account</title>
    </head>
    <body>
        <form action="enter" style="text-align: center">
            <div>
                <input name="login"></input>
            </div>
            <div>
                <input name="password" type="password"></input>
            </div>
            <div>
                <button>SEND</button>
            </div>
            <div>
                <p style="color: rgba(128, 128, 128, 0.489)">login: admin, password: admin :)</p>
            </div>
        </form>
    </body>
</html>